{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "number-leading-zero": null,
    "font-family-name-quotes": "always-where-required",
    "function-url-quotes": "always",
    "selector-attribute-quotes": "always",
    "string-quotes": "double",
    "declaration-block-properties-order": null,
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "declaration-no-important": true
  }
}
