// The general category
//
// Styleguide 1

// 1st component
//
// 1st component - And a searchable description with always should be very descriptive
//
// default - The 1st state
// red - The 2nd state
// blue - The 3rd state
//
// Markup:
// <div class="component {$modifiers}">Markup for the component</div>
//
// Styleguide 1.1

.component {
  background: $color--grey;
  height: 100px;
}

.components {
  @include collerFloat(4, 3, 2, 1, 4%, article);
}

// 2nd component
//
// 2nd component - And a searchable description with always should be very descriptive
//
// default - The 1st state
// red - The 2nd state
// blue - The 3rd state
//
// Markup:
// <div class="component {$modifiers}">Markup for the component</div>
//
// Styleguide 1.2

.component {
  background: $color--grey;
  height: 100px;
}

.components {
  @include collerFloat(4, 3, 2, 1, 4%, article);
}
