#block-tabs {
  position: fixed;
  left: 0;
  top: 250px;
  z-index: 10;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: block;

      a {
        display: block;
        background-color: rgba(255, 255, 255, 0.95);
        padding: 10px 15px;
        text-align: center;
        color: rgb(60, 84, 113);
        z-index: 10;
        position: relative;
      }
    }
  }
}

.block__status {
  display: block;
  padding: 15px 20px;
  border: 2px solid rgb(217, 217, 217);
  @include main-content(1300px);
}
