
//Tabs
.block-local-tasks-block {
  position: fixed;
  left: 0;
  top: 250px;
  z-index: 10;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: block;

      a {
        display: block;
        background-color: rgba(234, 234, 234, 0.95);
        padding: 10px 15px;
        text-align: center;
        color: #2b2b2b;
        z-index: 10;
        position: relative;
        text-decoration: none;

        &:hover {
          background-color: darken(rgba(234, 234, 234, 0.95), 10%);
        }
      }
    }
  }
}

.block__status {
  display: block;
  padding: 15px 20px;
  border: 2px solid $color--status;
  @include center-wrapper();
  margin-bottom: vr(2);
}
