// Primary Colours
$color--primary:      #413283;
$color--secondary:    #1d1d1b;
$color--tertiary:     #1d1d1b;
$color--quaternary:   #1d1d1b;
$color--quinary:      #1d1d1b;

// Common Colours
$color--black:        #000;
$color--white:        #fff;
$color--grey:         #c1c1c1;
$color--smoke: #efefef;
$color--grey-dark: #868686;
$color--grey-light: #cacaca;
$color--grey-dim: #6d6d6d;
