// Primary Colours
$color--primary:      #1d1d1b;
$color--secondary:    #1d1d1b;
$color--tertiary:     #1d1d1b;
$color--quaternary:   #1d1d1b;
$color--quinary:      #1d1d1b;

// Common Colours
$color--white:        #fff;
$color--grey:         #c1c1c1;
