//Typi - Responsive typography
//Also you can use a function-variable vr($number) to sustain vertical rhytm - example vr(2) would equal to two base line heights
@import "../../node_modules/typi/scss/typi";

$breakpoints: (
  small: 600px,
  large: 1200px,
  huge: 1800px
);

$typi: (
  base: (
    null: (16px, 1.4),
    small: (18px),
    large: (20px)
  ),
  h1: (
    null: (24px, 1.3),
    small: (2.369em, 1.2)
  ),
  h2: (
    null: (22px, 1.3),
    small: (2em, 1.2)
  ),
  h3: (
    null: (20px, 1.3)
  ),
  h4: (
    null: (19px, 1.3)
  ),
  h5: (
    null: (18px, 1.3)
  ),
  h6: (
    null: (16px, 1.3)
  ),
  mainmenu: (
    null: (22px, 1.3),
    small: (17px, 25px),
    large: (18px, 25px),
    huge: (22px, 25px)
  )
  // Other font maps here
);

// Font Family
$main-font:       "proxima-nova",arial,verdana;

// Font Weight
$slim:            200;
$light:           300;
$regular:         400;
$bold:            600;


