

// General
html {
  @include typi-init;
}

body {
  font-family: $main-font;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  @include typi('h1');
  margin-bottom: vr(2); // 2 baselines
}

h2 {
  @include typi('h2');
  margin-bottom: vr(2); // 2 baselines
}

h3 {
  @include typi('h3');
  margin-bottom: vr(1.5); // 2 baselines
}

h4 {
  @include typi('h4');
  margin-bottom: vr(1.5); // 2 baselines
}

h5 {
  @include typi('h5');
  margin-bottom: vr(1.2); // 2 baselines
}

h6 {
  @include typi('h6');
  margin-bottom: vr(1.2); // 2 baselines
}

a {
  cursor: pointer;
  text-decoration: underline;
}
