

// General
html {
  @include typi-init;
}

body {
  @include openSans;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  @include openSans;
}

h1 {
  @include typi('h1');
  margin-bottom: vr(2); // 2 baselines
}

h2 {
  @include typi('h2');
  margin-bottom: vr(2); // 2 baselines
}

h3 {
  font-size: $h3-size;
}

h4 {
  font-size: $h4-size;
}

h5 {
  font-size: $h5-size;
}

h6 {
  font-size: $h6-size;
}

a {
  cursor: pointer;
  text-decoration: underline;
}
