.layout-header {
  @include center-wrapper();
}

//mobile nav
#mobile-nav {
  float:right;
  margin-top: 36px;
  color:#ffffff;
  text-decoration: none;
  cursor: pointer;
  display: none;
  @include media($large-down) {
    display: block;
  }
}

.mobile-icon {
    position:relative;
    display:inline-block;
    width:30px;
    text-indent:-9999px;
}

.menu-borders {
    height:20px;
    border-top:4px solid $color--grey-dark;
    border-bottom:4px solid $color--grey-dark;
}

.menu-borders:before {
    content:"";
    position:absolute;
    top:4px;
    left:0;
    width:100%;
    border-top:4px solid $color--grey-dark;
}
